# Minimal set of libraries
asttokens

# plotting support
pydotplus


# Dependencies for pandas support
pandas>=0.23.2,<1.2.0
# This is currently not importing as long as this issue is not solved:
# https://github.com/apache/arrow/pull/8386
pyarrow>=0.10

# Linter
mypy==0.901
flake8
gitpython

# Code formatter. Only support Python 3.6+
black==22.10

# Documentation
mkdocs
mkdocs-jupyter
mkdocs-exclude
mkdocstrings
jupyter
pillow

# Test
pytest
pytest-cov
scikit-learn
requests
nbmake==0.5

