# Minimal set of libraries
asttokens

# plotting support
pydotplus


# Dependencies for pandas support
# Arrow can be complicated to install. Based on this page, this is 
# a minimal set of dependencies to make it work.
# https://arrow.apache.org/docs/python/install.html
pandas>=1.0,<3.0
pyarrow>=0.10
numpy>=1.16.6
pip>=19

# Linter
mypy==1.5.1
flake8
gitpython

# Code formatter. Only support Python 3.6+
black==22.10

# Packaging
wheel

# Documentation
mkdocs
mkdocs-jupyter
mkdocs-exclude
mkdocstrings[python]>=0.20
jupyter
pillow

# Test
pytest
pytest-cov
scikit-learn
requests
nbmake==0.5

