# Minimal set of libraries
asttokens

# plotting support
pydotplus


# Dependencies for pandas support
# Python 3.9 support requires a recent version of pandas
pandas>=1.1.0,<1.2.0
fastparquet
#pyarrow>=0.10

# Linter
mypy
flake8

# Code formatter. Only support Python 3.6+
black==19.10b0

# Documentation
mkdocs
mkdocs-jupyter
mkdocstrings

# Test
pytest
pytest-cov
scikit-learn
requests
#openpyxl
#xlrd
#plotly>=4.8

